.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: auto;
}

.forgot-password h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.forgot-password input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #e8f0fe;
}

.forgot-password button {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f04d56;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.forgot-password button:hover {
  background-color: #e03a4e;
}

.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #f04d56;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.back-arrow {
  display: inline-block;
  font-size: 25px;
  margin-right: 8px;
}
